<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<% @restaurants.each do |restaurant|%>
	<% restaurant.reservations.each do |reservation| %>
   <p>
  <b>Name:</b>
  <%= reservation.name %>
</p>
  <b>Email:</b>
  <%= reservation.email %>
</p>
<p>
  <b>Date:</b>
  <%= reservation.date %>

  <%#= @reservation.due_at.strftime("due on %B %d at %I:%M %p") %></li>
</p>
<p>
  <b>Time:</b>
  <%= reservation.time %>

  <%#= @reservation.due_at.strftime("due on %B %d at %I:%M %p") %></li>
</p>
<p>
  <b>Phone:</b>
  <%= reservation.phone %>
</p>
<br>
<br>
<br>

<% end %>

<% end %>
