<h1>Listing test1s</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test1s.each do |test1| %>
  <tr>
    <td><%= test1.name %></td>
    <td><%= test1.description %></td>
    <td><%= link_to 'Show', test1 %></td>
    <td><%= link_to 'Edit', edit_test1_path(test1) %></td>
    <td><%= link_to 'Destroy', test1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test1', new_test1_path %>
