<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @test1.name %>
</p>

<p>
  <b>Description:</b>
  <%= @test1.description %>
</p>


<%= link_to 'Edit', edit_test1_path(@test1) %> |
<%= link_to 'Back', test1s_path %>
