<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey <%= @user.name %>,</p>
    <p><%= @reservation.name %> made a reservation at <%= @restaurant.name %> for <%= @reservation.date %> on <%= @reservation.time %>!</p>
  </body>
</html>