<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { "data-validate" => "parsley" }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, :autofocus => true, "data-required"=> true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, "data-required"=> true, "data-type" => "email" %></div>
  
  <div><%= f.label :password %><br />
  <%= f.password_field :password, "data-required"=> true, "data-minlength" => "8" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, "data-required"=> true, "data-equalto" => "#owner_password" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "owners/shared/links" %>
