<%= form_for ([@restaurant, @reservation]) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :date %>
    <div class="controls">
      <%= f.text_field :date %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :time %>
    <div class="controls">
      <%= f.time_select :time, minute_step: 30, :ampm => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.submit :class => 'btn' %>
  </div>
<% end %>
