<%= form_for ([@reservation.restaurant,@reservation]) do |f| %>
    <div class="field">
      <%= f.label :reserver_name %>
      <%= f.text_field :reserver_name %>
    </div>
    <div class="field">
      <%= f.label :reserver_email %>
      <%= f.text_field :reserver_email %>
    </div>
    <div class="field">
      <%= f.label :reservation_date %>
      <%= f.text_field :reservation_date %>
    </div>
    <div class="field">
      <%= f.label :reservation_time %>
      <%= f.select :reservation_time, [["10am", 10], ["11am", 11], ["12pm", 12], ["1pm", 13], ["2pm", 14], ["3pm", 15], ["4pm", 16], ["5pm", 17], ["6pm", 18], ["7pm", 19], ["8pm", 20], ["9pm", 21], ["10pm", 22], ["11pm", 23], ["12am", 24], ["1am", 1], ["2am", 2]], class:'time-selector', :ignore_date => true %>
    </div>
    <!--<%= recaptcha_tags %>-->
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>