<% restaurant = Restaurant.find(params[:restaurant_id]) %>

<h2>Reservation for <%= restaurant.name %></h2>

<%= form_tag restaurant_reservations_path, method: :get do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag 'Search', name: nil %>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Reserver Name</th>
    <th>Date of Reservation</th>
    <th>Time of Reservation</th>
  </tr>
  <% @reservations.each do |reserve| %>
  <tr>
    <td><%= reserve.reserver_name %></td>
    <td><%= reserve.reservation_date %></td>
    <td><%= reserve.reservation_time %></td>
    <td><%= link_to 'Show' , [reserve.restaurant, reserve] %></td>
    <td><%= link_to 'Edit' , edit_restaurant_reservation_path(reserve.restaurant, reserve) %></td>
    <td><%= link_to 'Destroy', [reserve.restaurant, reserve], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>

<%= will_paginate @reservations %>

