<h1><center> <%=  %>Reservations</center></h1>

<table class="table table-bordered">
<tr>
	<td><%="User Name"%></td>
	<td><%="Reservation Date"%></td>
	<td><%="Reservation Time"%></td>
</tr>

	<% @reservations.each do |r| %>
<tr>
	<td><%= r.username %> | <%= link_to 'Delete', [r.rest, r], :method => :delete %></td>
	<td><%= r.reservation_time.strftime("%a, %b %d, %Y") %></td>
	<td><%= r.reservation_time.strftime("%I:%M %p") %></td>
</tr>
	<% end %>
</table>

<%= link_to 'Back', rests_path %>