<h1>Make a reservation</h1>

<%= form_for([@restaurant, @reservation]) do |f| %>
	<%= date_select :date, "date"  %><br/>
	<%= f.label :choose_time %>
	<%= select_hour Time.now, :ampm => true, :prefix => :time %><br/>
	<%= f.submit "Make reservation" %>
	
<% end %>