<h1>Reserve your table.</h1>
<br/>

<div class="reservation-form">
<%= form_for([@restaurant, @reservation]) do |f| %>
	<%= f.label :reserve_on %>
	<%= f.datetime_select :reserve_on %>
	<!-- <%= f.simple_captcha :label => "Prove that you're not a robot." %>--><br/> 
	<%= f.submit "Make reservation", class: "btn btn-primary" %>
<% end %>
</div>