<%= form_for @restaurant, :html => {:multipart => true} do |f| %>
<!--   <% if @restaurant.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited
        this prestaurant from being saved:</h2>
    <ul>
    <% @restaurant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %> -->
 
  <div class="span12" style="text-align:center; margin: 0 auto;" >
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= f.label :description %>
    <%= f.text_area :description %>
 
  <div>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.file_field :pdf %>
  </div> 
   <div class="actions">
    <%= f.submit %>
  </div> 
</div>
<% end %>