<%= form_for([@owner, @restaurant]) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description %>
    <div class="controls">
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address%>
    <div class="controls">
      <%= f.text_area :address %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :phone %>
    <div class="controls">
      <%= f.text_field :phone %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :photo %>
    <div class="controls">
      <%= image_tag(@restaurant.photo_url) if @restaurant.photo? %>
      <%= f.file_field :photo %>
      <%= f.hidden_field :photo_cache %>
    </div>
  </div>

  <div class="control-group">
    <%= f.submit :class => 'btn' %>
  </div>
<% end %>
