<%= form_for @restaurant, :html => {:multipart => true} do |f| %>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name , id: 'name' %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description, id: 'description' %>
	</div>
	<div class="field">
		<%= f.label :address %><br />
		<%= f.text_field :address, id: 'address' %>
	</div>
	<div class="field">
		<%= f.label :phone %><br />
		<%= f.text_field :phone, id: 'phone' %>
	</div>
	<div class="field">
		<%= f.label :image %>
		<%= f.file_field :image, id: 'file' %>
	<div class="field">
		<%= f.label :remote_image_url, "or image URL:" %>
		<%= f.text_field :remote_image_url %>
	</div>
	<div class="field">
		<%= f.label :menu %>
		<%= f.file_field :menu, id: 'menu' %>
	<div class="field">
		<%= f.label :remote_menu_url, "or menu URL:" %>
		<%= f.text_field :remote_menu_url, id: 'menu url' %>
	</div>
	<div class="form-actions">
		<%= f.submit "Submit"%>
	</div>
<% end %>