<%= form_for @restaurant, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %><%= mark_required(@restaurant, :name) %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
  </div>

  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :address, :class => 'text_area' %>
      </div>
  </div>

  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :phone, :class => 'text_field' %>
      </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area' %>
      </div>
  </div>

  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :image, :class => 'file_field' %>
      </div>
  </div>

  <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
      <div class="controls">
        <% Category.all.each do |category| %>
          <%= radio_button_tag "restaurant[category_ids][]", category.id, :class => 'radio_button' %>
          <%= category.name.humanize %><br>
        <% end %>
      </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                restaurants_path, :class => 'btn' %>
  </div>
<% end %>
