<%= form_for @restaurant, :html => {:multipart => true} do |r| %>

	<div class="field">
		<%= r.label :name %><br />
		<%= r.text_field :name , id: 'name' %>
	</div>
	<div class="field">
		<%= r.label :description %><br />
		<%= r.text_area :description, id: 'description' %>
	</div>
	<div class="field">
		<%= r.label :address %><br />
		<%= r.text_field :address, id: 'address' %>
	</div>
	<div class="field">
		<%= r.label :phone %><br />
		<%= r.text_field :phone, id: 'phone' %>
	</div>

	<div class="form-actions">
		<%= r.submit "Submit"%>
	</div>
<% end %>