<%= form_for @restaurant, html: { multipart: :true, "data-validate" => "parsley" } do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, "data-required"=> true, "data-minlength" => 5 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, rows: :"5", "data-required"=> true %>
  </div>
  
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, rows: :"5", "data-required"=> true %>
  </div>
  
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, "data-required"=> true, "data-type" => "phone" %>
  </div>
  
  <div class="field">
  	<%= f.label :image %><br />
  	<%= f.file_field :image %>
	</div> 

  <div class="field">
    <%= f.label :menu %><br />
    <%= f.file_field :menu %>
  </div> 
  
  <div class="actions">
  	
    <%= f.submit %>
  </div>
<% end %>
