<%= form_for @restaurant,:html => {:multipart => true} do |f| %>
  <!--<% if @restaurant.errors.any? %>-->
    <!--<div id="error_explanation">-->
      <!--<h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>-->
      <!--<ul>-->
      <!--<% @restaurant.errors.full_messages.each do |msg| %>-->
        <!--<li><%= msg %></li>-->
      <!--<% end %>-->
      <!--</ul>-->
    <!--</div>-->
  <!--<% end %>-->

  <div class="field" >
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>
  <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city %>
  </div>
   <div class="field">
      <%= f.label :state %>
      <%= f.text_field :state %>
   </div>
    <div class="field">
      <%= f.label :latitude %>
      <%= f.text_field :latitude %>
    </div>
    <div class="field">
      <%= f.label :longitude %>
      <%= f.text_field :longitude %>
    </div>
   <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div>
    <%= f.label :category_ids, "Category" %>
    <%= f.collection_select :category_ids, Category.order(:name), :id, :name, {}, {multiple: true} %>
  </div>
  <div>
    <p>Upload Menu: <%= f.file_field :menu %></p>
    <p>Upload Image: <%= f.file_field :image %>
      <%= f.label :remote_image_url, "or image URL" %><%= f.text_field :remote_image_url %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
