<h1>Edit Restaurant</h1>
<%= form_for(@restaurant, :html => {:multipart => true}) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :address %>
	<%= f.text_field :address %>
	<%= f.label :phone %>
	<%= f.text_field :phone %>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<%= f.label :upload_image %>
	<%= f.file_field :image %>
	<%= f.label :remote_image_url, "or image URL:" %>
	<%= f.text_field :remote_image_url %>
	<%= f.label :upload_menu %>
	<%= f.file_field :menu %><br/><br/>
	<%= f.submit "Update Restaurant" %>
<% end %>
