<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= image_tag restaurant.photo.thumbnail.url if restaurant.photo? %>
      <%= link_to restaurant.name, restaurant %></td>
      <%= link_to "Edit", edit_restaurant_path(restaurant) %>
      <%= link_to "Delete", restaurant ,confirm: "really", method: :delete%>
    </li>
  <% end %>
</ul>

<%= link_to 'New Restaurant', new_restaurant_path %>
