<h2>Listing restaurants</h2>

<% if owner_signed_in? %>
    <%= link_to 'New Restaurant', new_restaurant_path %>
<% end %>

<%= form_tag restaurants_path, method: :get do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag 'Search', name: nil %>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Picture</th>
    <th>Name</th>
    <th>Description</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= image_tag(restaurant.image_url(:thumb).to_s) if restaurant.image? %></td>
    <td><%= restaurant.name %></td>
    <td><%= restaurant.description %></td>
    <td><%= restaurant.street %></td>
    <td><%= restaurant.city %></td>
    <td><%= restaurant.state %></td>
    <td><%= restaurant.phone %></td>

    <td><%= link_to 'Show', restaurant %></td>
    <% if owner_signed_in? %>
        <% if current_owner.id == restaurant.owner_id %>
            <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
            <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
     <% end %>
   </tr>
<% end %>
</table>

<%= will_paginate @restaurants %>