<h1>Add new restaurant</h1><br/>
<div class="new-restaurant-form">
<%= form_for(@restaurant, :html => {:multipart => true}) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<div class="form-address">
	<%= f.label :address %>
	<%= f.text_field :street %>
	<%= f.label :city %>
	<%= f.text_field :city %> 
	<%= f.label :state %>
	<%= f.text_field :state %>
	<%= f.label :zip_code %>
	<%= f.text_field :zip %>
	</div>
	<%= f.label :phone %>
	<%= f.text_field :phone %>
	<%= f.label :open_time %>
	<%= select_hour Time.now, :ampm => true, :prefix => :open_time %>
	<%= f.label :close_time %>
	<%= select_hour Time.now, :ampm => true, :prefix => :close_time %><br/>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<%= f.check_box :categories %>
	<%= f.label :total_number_of_tables %>
	<%= f.number_field :table_qty %>
	<%= f.label :upload_image %>
	<%= f.file_field :image %>
	<%= f.label :remote_image_url, "or image URL:" %>
	<%= f.text_field :remote_image_url %>
	<%= f.label :upload_menu %>
	<%= f.file_field :menu %><br/><br/>
	<%= f.submit "Create Restaurant", class: "btn btn-primary" %>
<% end %>
</div>
