<div class="restaurant-show">
	
	<% if !current_owner.nil? && current_owner.has_ownership?(@restaurant) %>
	<div class="edit-delete">
		<%= link_to "Edit", edit_restaurant_path(@restaurant) %>&nbsp;&nbsp;
		<%= link_to "Delete", restaurant_path(@restaurant), confirm: "Are you sure?", method: :delete %>
	</div>
	<% end %>
	<br/>
	
	<div class="show-header">
		<h1><%= @restaurant.name %></h1>
		<a href="<%= @restaurant.menu_url %>" target="_blank">View menu</a>
		<div class="restaurant-show-address">
		<%= @restaurant.format_phone %><br/>
		<%= @restaurant.street %><br/>
		<%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %>
		</div>
	</div>
	<br/>

	<div class="restaurant-show-images">
		<div class="masthead">
		<% if !@restaurant.image_url.nil? %>
		<%= image_tag(@restaurant.image_url(:masthead).to_s) %>
		<% end %>
		</div>
	</div>
	<br/>
	
	<div class="restaurant-description">
		<% if @restaurant.owner %>
			Owned by: <%= @restaurant.owner.name %>
		<% end %>
		<%= @restaurant.description %>
	</div>
	<br/>
	
	<div class="google-map" style="display: block; margin-left: auto; margin-right: auto;">
	<%= image_tag(@restaurant.google_map) if @restaurant.street? %>
	</div>
	
	<br/>
	<div>
		<% if !current_owner.nil? && current_owner.has_ownership?(@restaurant) %>
				<b><u>Reservations</u></b><br/>
				<% @restaurant.reservations.each do |reservation| %>
					<%=  reservation.date.strftime("%m/%d/%y") %> at <%= reservation.format_time %><br/>
				<% end %>
		<% else %>
			<%= link_to "Make Reservation", new_restaurant_reservation_path(@restaurant) %>
		<% end %>
	</div>
</div>