<p id="notice"><%= notice %></p>

<h1><%= @restaurant.name %></h1>
<p><% @restaurant.categories.each do |category| %>
    <%= link_to category.name, category %>
  <% end %>
</p>
<%= image_tag @restaurant.photo.masthead.url if @restaurant.photo? %>
  <div>
    <div class="span8">
    <dl>
      <dt>Phone</dt>
      <dd><%= @restaurant.phone %></dd>
      <dt>Address</dt>
      <dd><%= @restaurant.address %></dd>
      <dt>Description</dt>
      <dd><%= @restaurant.description %></dd>

    </div>
    <div class="span4 pull-right">
      <%= gmaps4rails(@json) %>
    </div>
  </div>
  <div>
    <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
    <%= link_to 'Destroy', restaurant_path(@restaurant), :method => :delete, :confirm => 'Are you sure that you want to delete this restaurant?' %> |
    <%= link_to 'Back', restaurants_path %>
  </div>