<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Description:</b>
  <%= @restaurant.description %>
</p>

<p>
  <b>Address:</b>
  <%= @restaurant.address %>
  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@restaurant.address}&markers=#{@restaurant.address}&zoom=13&size=600x300&sensor=false&visual_refresh=true" %>
</p>

<p>
  <b>Phone:</b>
  <%= @restaurant.phone %>
</p>


<p>
  <b>Menu:</b>
  <%= @restaurant.menu? ? (link_to 'Download', @restaurant.menu.url) : "Not uploaded" %>
</p>

<p>
  <b>Owner</b>
  <%= @restaurant.owner.name %>
</p>

<p>
  <b>Categories</b>
  <%= @restaurant.categories.collect {|r| r.name}.to_sentence %>

</p>

<% if @restaurant.belong_to?(current_owner) %>
  <p>
    <h3>Reservations</h3>
    <% @restaurant.reservations.each do |reservation| %>
      <%= print_reservation_details(reservation) %>
    <% end %>
  </p>

  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
  <%= link_to 'Destroy', @restaurant, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% else %>
  <h2>New Reservation</h2>
  <%= render 'reservations/form', :reservation => @reservation %>
<% end %>

<%= link_to 'Back', restaurants_path %>
