<p><%= @restaurant.name %></p>
<p><%= @restaurant.phone %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.description %></p>
<%= link_to 'Edit', edit_restaurant_path %>
<%= link_to 'Delete', @restaurants, method: :delete, data: { confirm: 'Are you sure?' } %> <br>
<%= link_to 'Home', restaurants_path %>

