<p id="notice"><%= notice %></p>

<h1><%= @restaurant.name %></h1>
<p><% @restaurant.categories.each do |category| %>
    <%= link_to category.name, category %>
  <% end %>
</p>
<%= image_tag @restaurant.photo.masthead.url if @restaurant.photo? %>
  <div>
    <div class="span8">
    <dl>
      <dt>Phone</dt>
      <dd><%= @restaurant.phone %></dd>
      <dt>Address</dt>
      <dd><%= @restaurant.address %></dd>
      <dt>Description</dt>
      <dd><%= @restaurant.description %></dd>
      <dt>Tables</dt>
      <dd><%= @restaurant.max_tables %></dd>
    </dl>
    </div>
    <div class="span4 pull-right">
      <%= gmaps4rails(@json) %>
    </div>
  </div>
  <div>
    <% if user_signed_in? %>
     <% if @restaurant.is_user?(current_user) %>
      <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
      <%= link_to 'Delete', restaurant_path(@restaurant), :method => :delete, :confirm => 'Are you sure that you want to delete this restaurant?' %> |
      <% end %>
    <% else %>
      <%= link_to "Make Reservation", new_restaurant_reservation_path(@restaurant), class: "btn btn-mini" %>
    <% end %>
    <%= link_to 'Restaurant List', restaurants_path, class: "btn btn-mini" %>
  </div>