<h1><center>Restaurants</center></h1>
<p id='notice'>
<%= notice %>
</p>


<table class="table table-bordered">
<tr>
	<td><%="Image"%></td>
	<td><%="Name"%></td>
	<td><%="Description"%></td>
	<td><%="Address"%></td>
	<td><%="Phone Number"%></td>
</tr>

	<% @rests.each do |r| %>
	<tr>
		<td><%= image_tag r.image_url(:thumb).to_s %></td>
		<td><%= r.name %> | <%= link_to 'Show', rest_path(r) %></td>
		<td><%= r.description %></td>
		<td><%= r.address %></td>
		<td><%= r.phone %></td>
	</tr>
	<% end %>

</table>
<p>
<%= link_to 'Add New Restaurant',new_rest_path %>
