<%= link_to "Reservester", root_path, :class => 'brand' %>
<ul class="nav">
  <% if owner_signed_in? %>
    <li>
      <%= link_to 'Dashboard', dashboard_path %>
    </li>
    <li>
    <%= link_to 'Logout', destroy_owner_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_owner_session_path %>
    </li>
  <% end %>
  <% if owner_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_owner_registration_path %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_owner_registration_path %>
    </li>
  <% end %>
</ul>