<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
      <%= render "layouts/header" %>

      <div class="container">
        <div class="hero-unit">
          <% flash.each do |name, msg|%>
              <%= content_tag(:div, msg,class: "alert alert-#{name}") %>
          <% end %>
          <%= yield %>
        </div>
      </div>

      <div class="breadcrumb">
        <%= render "layouts/footer"%>
      </div>
</body>
</html>
