<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="http://flip.hr/css/bootstrap.min.css">
</head>
<body>
<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">  
    <!--navigation does here--> 

    <ul class="nav">  
  <li class="active">  
    <a class="brand" href="#">OPEN YOUR TABLE</a>

  <% if owner_signed_in? %>
  <li><%= link_to "new", new_restaurant_path %></li>
  <li><%= link_to "log out", destroy_owner_session_path, :method => :delete %></li></li>
  <li><%= link_to "account", edit_owner_registration_path%><br /></li>
  <li><%= link_to "DASHBOARD", dashboard_index_path %></li>

<% else %>
<li><%= link_to "Sign up", new_owner_registration_path %></li>
<li><%= link_to "Log in", new_owner_session_path %><br /></li>
<% end %> 
      <li><%= link_to 'home', restaurants_path %></li>
  

    </div>  
  </div>  
</div>  

 


<%= yield %>

</body>
</html>
